- source_headers = work.source.headers.map.with_index { |e, i| [e.name, i] }

%table.field
  %caption Association des champs de la source de données
  %thead
    %tr
      %th Analyse
      %th
      %th Fichier
  %tbody
    %tr
      %td
        Code postal
      %td
        ⇄
      %td
        = f.select 'parameters', source_headers, {}, { name: 'work[parameters][]' }
    %tr
      %td
        Ville
      %td
        ⇄
      %td
        = f.select 'parameters', source_headers, {}, { name: 'work[parameters][]' }
