%table
  %thead
    %tr
      %th Champ
      %th Cible
      %th Ignorer
  %tbody
    - work.source.headers.each do |h|
      %tr
        %td
          = h.name
        %td
          = f.radio_button 'parameters_target', h.position,
            { name: 'work[parameters][target]' }
        %td
          = f.check_box "parameters_ignore_#{h.position}",
            { name: 'work[parameters][ignore][]' }, h.position, ''
