%table.works-list
  %thead
    %tr
      %th
        Données
      %th
        Outil
      %th.list-date
        Date
      %th.list-actions
        État

  %tbody
    - works.each do |work|
      %tr
        %td
          = work.source.label
        %td
          = work.operation.name
        %td.list-date
          = l work.created_at
        %td.list-actions
          = link_to t(work.status), work_path(work)
