= form_for @user, url: new_user_path, method: :get, html: { class: 'form' } do |f|
  %fieldset
    %p.field
      = f.label :email
      %br
      = f.email_field :email


  %ul.actions
    %li
      = f.submit 'Inscription'
