%p
  %b Label :
  = @data_file.label

%p
  %b Description :
  = simple_format @data_file.description

- if @data_file.mime_type
  %p
    %b Fichier :
    = '%s (%s)' % [@data_file.file_name, @data_file.mime_type]
- else
  %p
    %b Aucun fichier attaché.
