.home_intro
  .home_intro_head
    %h1
      Améliorez vos performances
      %br
      marketing & commerciales

    %p
      %em Tirez facilement profit de vos données avec DATACUBE


  = render 'users/form_email'


%h2 DATACUBE au service de vos données

%p
  DATACUBE vous permet d'améliorer la performance de vos actions marketing &
  commerciales grâce à l'analyse de vos données.

%p
  %em
    Simple. Économique. Efficace.

%hr

%ul.col_enum.short
  %li.operations-sources
    %h3 Enrichissez vos données
    %p Améliorez la connaissance client
  %li.operations-results
    %h3 Analysez vos données
    %p Trouvez des leviers d'action
  %li.operations-reports
    %h3 Boostez vos résultats
    %p Développez votre activité

%hr


%h2 DATACUBE pour une efficacité immédiate

%ul.col_enum.full
  %li
    %h3 Interface simple
    %p Vous profitez de nos outils en ligne, en quelques clics.
    %ul
      %li Sans installation
      %li Sans configuration
      %li Sans formation fastidieuse
      %li …
  %li
    %h3 Outils efficaces
    %p Vous accédez à nos outils qui répondent à vos besoins.
    %ul
      %li Enrichissez et qualifiez vos données
      %li Déterminez vos prospects les plus attractifs
      %li Réduisez vos coûts d'acquisition clients
      %li …
  %li
    %h3 Support temps réel
    %p Vous êtes aidés et accompagnés en temps réel, à tout moment
    %ul
      %li Chat temps-réel avec nos équipes
      %li Espace de tutoriels
      %li Support Email
      %li …

%hr


%h2 Une tarification attractive

%p Adaptée aux TPE, PME et grands comptes.

= render 'offers/list', offers: @offers if @offers.any?

%hr


= render 'users/form_email'
