%h1
  Améliorez vos performances marketing & commerciales


%p Inscription


%h2 OptiDM au service de vos données

%p
  OptiDM vous permet d'améliorer la performance de vos actions marketing &
  commerciales grâce à l'analyse de vos données.

%ul
  %li Simple
  %li Économique
  %li Efficace

%hr

%ul
  %li
    %h3 Enrichir vos données
    %p Améliorez la connaissance client
  %li
    %h3 Analyser vos donnéés
    %p Trouvez des leviers d'action
  %li
    %h3 Boostez vos résultats
    %p Développez votre activité

%ul
  %li
    %h3 Interface simple
    %p Vous
    %ul
      %li Sans installation
      %li Sans configuration
      %li Sans formation fastidieuse
    %p Essai gratuit
  %li
    %h3 Outils efficaces
    %p Vous
    %ul
      %li Sans installation
      %li Sans configuration
      %li Sans formation fastidieuse
    %p Essai gratuit
  %li
    %h3 Support temps réel
    %p Vous
    %ul
      %li Sans installation
      %li Sans configuration
      %li Sans formation fastidieuse
    %p Essai gratuit


%h2 Une tarification attractive

%p Adaptée aux TPE, PME et grands comptes.
