.home_intro
  .home_intro_head
    %h1
      Lorem ipsum dolor sit amet

    %p
      %em Lorem ipsum dolor sit amet


  = render 'users/form_email'


%h2 Lorem ipsum dolor sit amet

%p
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua.

%p
  %em
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.

%hr

%ul.col_enum.short
  %li.operations-sources
    %h3 Lorem ipsum dolor sit amet
    %p Lorem ipsum dolor sit amet
  %li.operations-results
    %h3 Lorem ipsum dolor sit amet
    %p Lorem ipsum dolor sit amet
  %li.operations-reports
    %h3 Lorem ipsum dolor sit amet
    %p Lorem ipsum dolor sit amet

%hr


%h2 Lorem ipsum dolor sit amet

%ul.col_enum.full
  %li
    %h3 Lorem ipsum dolor sit amet
    %p Lorem ipsum dolor sit amet
    %ul
      %li Lorem ipsum dolor sit amet
      %li Lorem ipsum dolor sit amet
      %li Lorem ipsum dolor sit amet
      %li …
  %li
    %h3 Lorem ipsum dolor sit amet
    %p Lorem ipsum dolor sit amet
    %ul
      %li Lorem ipsum dolor sit amet
      %li Lorem ipsum dolor sit amet
      %li Lorem ipsum dolor sit amet
      %li …
  %li
    %h3 Lorem ipsum dolor sit amet
    %p Lorem ipsum dolor sit amet
    %ul
      %li Lorem ipsum dolor sit amet
      %li Lorem ipsum dolor sit amet
      %li Lorem ipsum dolor sit amet
      %li …

%hr


%h2 Lorem ipsum dolor sit amet

%p Lorem ipsum dolor sit amet

= render 'offers/list', offers: @offers if @offers.any?

%hr


= render 'users/form_email'
