%h2 Article 1. Définitions

%p
  Les termes débutant par une majuscule au sein du contrat, qu'ils soient
  utilisés au singulier ou au pluriel, auront la signification qui leur est
  donnée ci-après.
%dl
  %dt Solutions
  %dd
    désigne les fonctions opérationnelles listées en annexe du contrat et mises
    à disposition du Client dans le cadre des Services Applicatifs objets du
    contrat ;
  %dt Données
  %dd
    désignent les informations, publications et, de manière générale, les
    données de la base de données Client dont l'utilisation est l'objet du
    présent contrat, pouvant être consultées uniquement par les Utilisateurs ;
  %dt Identifiants
  %dd
    désignent tant l'identifiant propre de l'utilisateur (« login ») que le mot
    de passe de connexion (« password »), communiqués après inscription au
    service ;
  %dt Internet
  %dd
    désigne l'ensemble de réseaux interconnectés, lesquels sont localisés dans
    toutes les régions du monde ;
  %dt Intranet
  %dd
    désigne le réseau informatique propre à une entreprise ou une organisation,
    utilisant les protocoles TCP/IP et, plus généralement, les technologies
    d'Internet et pouvant être relié au réseau Internet ;
  %dt Logiciel
  %dd
    désigne tout logiciel fourni par le prestataire au Client et en particulier
    les Solutions associées.
  %dt Service applicatif ou Service
  %dd
    désigne le service proposé en mode SaaS par le prestataire, permettant
    l'utilisation des Solutions par le Client ;
  %dt Utilisateur
  %dd
    désigne la personne placée sous la responsabilité du Client (préposé,
    salarié, représentant, etc.) et bénéficiant d'un accès aux Services
    applicatifs sur son ordinateur en vertu de la licence d'utilisation
    contractée par le Client.


%h2 Article 2. Objet

%p
  Le contrat a pour objet de définir les termes et conditions applicables aux
  Services commandés par le Client.
%p
  Le prestataire consent au Client, qui accepte :
%ul
  %li
    un droit d'accès aux serveurs du prestataire dans les conditions définies
    ci-après ;
  %li
    un droit d'utilisation finale des Solutions ;
  %li
    un ensemble de services ci-après définis, notamment d'hébergement des
    données, de maintenance des Services applicatifs, d'assistance technique.


%h2 Article 3. Essai gratuit

%p
  Le Client à la possibilité de souscrire une formule d'abonnement gratuite.
  Dans ce cas, le prestataire fournit pour une durée de 15 jours calendaires
  maximum, un accès au Service avec des limites d'utilisation spécifiques
  déterminées par le prestataire le jour de la souscription.
%p
  Les limites d'utilisation, non exhaustives, comprennent un accès restreint à
  certaines fonctionnalités ainsi qu'une limitation en termes de volumes de
  données traités par le Service.
%p
  Le prestataire pourra suspendre, à tout moment, à sa seule discrétion et sans
  justification, l'abonnement gratuit du Client. A titre d'exemple, le
  prestataire suspendra l'essai gratuit du Client s'il juge qu'une utilisation
  abusive ou inappropriée de ces Services est faite par le Client.
%p
  Les essais gratuits sont ouverts exclusivement aux professionnels
  (entreprises, associations, travailleurs indépendants).
%p
  Le nombre d'essais gratuits est limité à un par professionnel (identifié par
  un code SIREN pour les entités françaises).
%p
  Le prestataire pourra, à sa seule discrétion, rendre inutilisables certaines
  fonctionnalités des services et ne saurait être tenu responsable pour des
  dommages se rapportant à leur utilisation.
%p
  En contrepartie de l'accès à une offre d'essai gratuit, le Client autorise le
  prestataire à utiliser ses informations professionnelles (Raison Social,
  Logo, activité…) sur son site internet ou tout autre support de
  communication, sans limite de durée.


%h2 Article 4. Effet, durée et reconductions

%p
  Le contrat prendra effet à la fin de la période d'essai gratuit souscrite par
  la Client et à sa demande.
%p
  Sa durée est fixée à 12 mois à compter de son entrée en vigueur.
%p
  Sauf résiliation effectuée par voie lettre recommandé avec accusé de
  réception au moins 30 jours avant l'échéance, le contrat se renouvellera dans
  des conditions identiques, sauf si les parties conviennent d'un nouveau
  périmètre fonctionnel pour les Services applicatifs afin de couvrir les
  besoins du Client.


%h2 Article 5. Description des services applicatifs

%h3 5.1. Solutions applicatives

%p
  Le prestataire met à disposition du Client les Solutions accessibles sur son
  serveur par le biais du réseau Internet.
%p
  Dans les conditions de l'article « Licence », le prestataire consent au
  Client le droit d'utiliser de façon non exclusive, les Solutions désignées
  ci-dessous :
%p
  Le prestataire met à disposition au sein des Services applicatifs, un
  ensemble d'outils dédiés à l'optimisation de performances marketing et
  commerciales et de services dédiés à la bonne exploitation de ces outils.
%p
  Le prestataire s'engage à conserver les outils et prestations associées
  disponibles le jour de la souscription de l'offre d'essai gratuit par le
  Client.
%p
  En cas de suppression d'un service ou d'un outil au cours du contrat, le
  Client peut, s'il en fait la demande dans les 30 jours qui suivent cette
  suppression par lettre recommandée avec accusé de réception, demander la
  résiliation de son contrat sans pénalité.
%p
  La suppression d'un outil ou d'un service apparu ultérieurement à la
  signature du contrat ne saurait justifier la résiliation du contrat.
%p
  Le prestataire assure l'hébergement  des Données, la maintenance et la
  sécurité des Solutions.

%h3 5.2. Accès aux solutions

%p
  Le Client utilisera seul ce droit d'accès. Il pourra se connecter à tout
  moment – à l'exception des périodes de maintenance, à savoir :
%ul
  %li
    24 heures sur 24,
  %li
    7 jours sur 7,
  %li
    y compris les dimanche et jours fériés,
  %li
    avec assistance des équipes techniques du prestataire.
%p
  La procédure d'accès définie par le prestataire doit être rigoureusement
  respectée par le Client.
%p
  L'accès s'effectue :
%ul
  %li
    à partir des ordinateurs Clients.
  %li
    À partir de tout ordinateur Client nomade,
  %li
    au moyen des Identifiants fournis au Client.
%p
  L'identification du Client lors de son accès aux Services applicatifs se fait
  au moyen :
%ul
  %li
    d'un Identifiant attribué à chaque Utilisateur par le prestataire,
  %li
    et d'un mot de passe communiqué au Client par le prestataire.
%p
  Le Client utilisera les Identifiants qui lui auront été communiqués lors de
  chaque connexion aux Services applicatifs.
%p
  Les Identifiants sont destinés à réserver l'accès des Solutions objets du
  contrat aux Utilisateurs du Client, à protéger l'intégrité et la
  disponibilité des Solutions, ainsi que l'intégrité, la disponibilité et la
  confidentialité des Données du Client telles que transmises par les
  Utilisateurs.
%p
  Les Identifiants sont personnels et confidentiels. Ils ne peuvent être
  changés que sur demande du Client ou à l'initiative du prestataire sous
  réserve d'en informer préalablement le Client. Le Client s'engage à mettre
  tout en œuvre pour conserver secrets les Identifiants le concernant et à ne
  pas les divulguer sous quelque forme que ce soit.
%p
  Le Client est entièrement responsable de l'utilisation des Identifiants et il
  est responsable de la garde des codes d'accès qui lui sont remis. Il
  s'assurera qu'aucune autre personne non autorisée par le prestataire n'a
  accès aux Services applicatifs et aux Solutions. De manière générale, le
  Client assume la responsabilité de la sécurité des postes individuels d'accès
  aux Solutions. Dans l'hypothèse où il aurait connaissance de ce qu'une autre
  personne y accède, le Client en informera le prestataire sans délai et le
  confirmera par courrier recommandé.
%p
  En cas de perte ou de vol d'un des identifiants, le Client utilisera la
  procédure mise en place par le prestataire lui permettant de récupérer ses
  identifiants.


%h2 Article 6. Disponibilité des applicatifs

%p
  Le Client est averti des aléas techniques inhérents à Internet, et des
  interruptions d'accès qui peuvent en résulter. En conséquence, le prestataire
  ne sera tenu responsable des éventuelles indisponibilités ou ralentissements
  des Services applicatifs.
%p
  Prestataire n'est pas en mesure de garantir la continuité des Services
  applicatifs, exécutés à distance via Internet, ce que le Client reconnaît.
%p
  En outre, il appartient au Client de respecter les seuils de volumétrie
  associés au contrat et d'avertir le prestataire en cas d'augmentation de ses
  besoins en terme de capacité de traitement.
%p
  Le prestataire s'engage à mettre en place des contrôles efficaces de nature à
  procurer une assurance raisonnable que le Client peut accéder et utiliser les
  applications concernées aux heures déterminées aux présentes.
%p
  Les Services applicatifs peuvent être occasionnellement suspendus en raison
  d'interventions de maintenance nécessaires au bon fonctionnement de la
  plateforme du prestataire.
%p
  Le prestataire ne pourra être tenu responsable de l'impact éventuel de cette
  indisponibilité sur les activités du Client.


%h2 Article 7. Licence

%p
  Le prestataire concède au Client un droit personnel, non exclusif, non
  cessible et non transférable d'utilisation des Solutions, pendant toute la
  durée du contrat et pour le monde entier.
%p
  Le Client ne peut utiliser les Services applicatifs et les Solutions que
  conformément à ses besoins et à leur documentation. En particulier, la
  licence relative aux Solutions n'est concédée que dans le seul et unique but
  de permettre au Client l'utilisation des Services, à l'exclusion de toute
  autre finalité.
%p
  Le droit d'utilisation s'entend du droit de représenter et de mettre en œuvre
  les Services applicatifs conformément à leur destination, en mode SaaS via
  une connexion à un réseau de communications électroniques. Le Client ne
  pourra en aucun cas mettre les Solutions à disposition d'un tiers, et
  s'interdit strictement toute autre utilisation, en particulier toute
  adaptation, modification, traduction, arrangement, diffusion, décompilation,
  sans que cette liste soit limitative.


%h2 Article 8. Maintenance

%p
  Le prestataire prend en charge la maintenance corrective des Solutions.
%p
  Une prestation de support par e-mail permettant de traiter les anomalies est
  disponible du lundi au vendredi de 9h à 18h. Le prestataire procède au
  diagnostic de l'anomalie et met ensuite en oeuvre sa correction.
%p
  Le prestataire n'est pas responsable de la maintenance dans les cas
  suivants :
%ul
  %li
    refus du Client de collaborer avec le prestataire dans la résolution des
    anomalies et notamment de répondre aux questions et demandes de
    renseignement ;
  %li
    utilisation des Services applicatifs de manière non conforme à leur
    destination ou à leur documentation ;
  %li
    modification non autorisée des Solutions par le Client ou par un tiers ;
  %li
    manquement du Client à ses obligations au titre du contrat ;
  %li
    implantation de tous progiciels, logiciels ou système d'exploitation non
    compatibles avec les Services applicatifs ;
  %li
    utilisation de consommables incompatibles ;
  %li
    défaillance des réseaux de communication électronique ;
  %li
    acte volontaire de dégradation, malveillance, sabotage ;
  %li
    détérioration due à un cas de force majeure ou à une mauvaise utilisation
    des Services applicatifs.
%p
  Si le Client en a passé commande, il bénéficie des mises à jour et évolutions
  fonctionnelles des Services applicatifs Syntec Numérique - Guide contractuel
  SaaS
%p
  Le prestataire s'engage à transmettre les documentations mises à jour des
  nouvelles versions des Solutions.
%p
  Les corrections et évolutions des Services applicatifs sont expressément
  soumises au contrat.
%p
  Les interventions relatives à ce service peuvent rendre le service
  momentanément indisponible. Elles sont effectuées après un délai de
  prévenance de 2 jours et uniquement heures ouvrées.


%h2 Article 9. Assistance technique

%p
  Il sera répondu au Client, du lundi au vendredi 9h à 18h par téléphone ou par
  email, dans un délai maximum de 48 heures ouvrés.


%h2 Article 10. Formation

%p
  Sur demande du Client, le prestataire peut fournir des conditions à définir
  d'un commun accord des prestations de formation.


%h2 Article 11. Traitement des donnees

%h3 11.1. Données personnelles

%p
  Si les Données transmises aux fins d'utilisation des Services applicatifs
  comportent des données à caractère personnel, le Client garantit au
  prestataire qu'il a procédé à l'ensemble des obligations qui lui incombent au
  terme de la loi du 6 janvier 1978 dite « Informatique & Libertés », et qu'il
  a informé les personnes physiques concernées de l'usage qui est fait desdites
  données personnelles. A ce titre, le Client garantit le prestataire contre
  tout recours, plainte ou réclamation émanant d'une personne physique dont les
  données personnelles seraient reproduites et hébergées via le Service
  applicatif.

%h3 11.2. Exploitation des données

%p
  Le Client assure la responsabilité éditoriale éventuelle de l'utilisation des
  Services applicatifs.
%p
  Le Client est seul responsable de la qualité, de la licéité, de la pertinence
  des Données et contenus qu'il transmet aux fins d'utilisation des Services
  applicatifs. Il garantit en outre être titulaire des droits de propriété
  intellectuelle lui permettant d'utiliser les Données et contenus. En
  conséquence le prestataire dégage toute responsabilité en cas de
  non-conformité des Données et/ou des contenus aux lois et règlements, à
  l'ordre public ou encore aux besoins du Client.
%p
  Le Client garantit le prestataire à première demande contre tout préjudice
  qui résulterait de sa mise en cause par un tiers pour une violation de cette
  garantie.
%p
  Plus généralement, le Client est seul responsable des contenus et messages
  diffusés et/ou téléchargés via les Services applicatifs. Le Client demeure le
  seul propriétaire des Données constituant le contenu des Solutions.

%h3 11.3. Sécurité des données

%p
  Chacune des Parties s'engagent à mettre en œuvre les moyens techniques
  appropriés pour assurer la sécurité des Données.
%p
  Sous réserve de l'Article « Responsabilité », le prestataire s'engage à
  préserver l'intégrité et la confidentialité des Données contenues dans les
  Solutions. Le prestataire mettra en place les mesures techniques et
  organisationnelles de nature à empêcher tout accès ou utilisations fraudeuses
  des Données et à prévenir toutes pertes, altérations et destructions des
  Données.


%h2 Article 13. Conditions financières

%h3 13.1. Redevances

%p
  Les conditions financières sont exposées sur le site web
  = link_to root_url, :root
  et sont valables le jour de la souscription du contrat. Ce sont ces
  conditions financières qui seront appliquées à la première souscription du
  contrat.
%p
  Les redevances des Services sont indiquées en euros et s'entendent hors taxe
  et hors frais.
%p
  L'adresse de facturation est l'adresse du siège social du Client.
%p
  Il est expressément convenu que le montant des sommes facturées par le
  prestataire sera révisé chaque année en fonction de l'indice du Coût Horaire
  du travail tous salariés des entreprises de la fédération Syntec.
%p
  Sont exclues de la redevance et donnent lieu à facturation séparée les
  prestations suivantes :
%ul
  %li
    les prestations de formation,
  %li
    les prestations d'assistance technique,
  %li
    et plus généralement toutes prestations n'entrant pas dans l'offre SaaS.

%h3 13.1. Modalités de paiement

%p
  Nonobstant la durée d'engagement, les Services sont facturés mensuellement.
%p
  Les factures sont payables comptant, par carte bancaire, par chèque ou par
  virement.

%h3 13.1. Défaut de paiement

%p
  Sans préjudice d'éventuels dommages et intérêts, le défaut de paiement par le
  Client d'une facture à son échéance entraîne de plein droit :
%ul
  %li
    l'application d'un intérêt de retard égal à trois fois le taux d'intérêt
    légal, sans mise en demeure préalable et à compter du premier jour de
    retard ;
  %li
    les frais bancaires et de gestion supplémentaires (suivi du recouvrement,
    courriers et frais téléphoniques de relance, représentation des rejets de
    prélèvement bancaire) ;
  %li
    la suspension immédiate des Services ;
  %li
    la résiliation de plein droit du contrat sous 60 jours après l'envoi par le
    prestataire d'une mise en demeure par lettre recommandée avec avis de
    réception demeurée infructueuse.


%h2 Article 14. Propriété

%p
  Le Client est et demeure propriétaire de l'ensemble des Données qu'il utilise
  via les Services applicatifs dans le cadre du contrat à l'exception des
  données externes fournies par le prestataire dans le cadre du Service.
%p
  Le prestataire est et demeure titulaire des droits de propriété relatifs à
  tout élément des Services applicatifs et des Solutions mis à disposition du
  Client, ainsi plus généralement que de l'infrastructure informatique
  (logicielle et matérielle) mise en œuvre ou développée dans le cadre du
  contrat.
%p
  Le contrat ne confère au Client aucun droit de propriété sur les Solutions.
  La mise à disposition temporaire des Solutions dans les conditions prévues au
  contrat ne saurait être analysée comme la cession d'un quelconque droit de
  propriété intellectuelle au bénéfice du Client, au sens du Code français de
  la propriété intellectuelle.
%p
  Le Client s'interdit de reproduire tout élément des Logiciels et des Bases de
  données, ou toute documentation les concernant, par quelque moyen que ce
  soit, sous quelque forme que ce soit et sur quelque support que ce soit.
%p
  Le Client ne pourra céder tout ou partie des droits et obligations résultant
  du contrat, que ce soit dans le cadre d'une cession temporaire, d'une
  sous-licence et de tout autre contrat prévoyant le transfert desdits droits
  et obligations.


%h2 Article 15. Garantie d'éviction

%p
  Le prestataire déclare et garantit :
%ul
  %li
    que les Solutions qu'il a développées sont originales au sens du Code
    français de la propriété intellectuelle,
  %li
    qu'il est titulaire de tous les droits de propriété intellectuelle qui lui
    permettent de conclure le contrat.
%p
  Le prestataire déclare et garantit que les Solutions ne sont pas susceptibles
  de porter atteinte aux droits des tiers.


%h2 Article 16. Responsabilité – Force majeure

%p
  Chacune des Parties assume la responsabilité des conséquences résultant de
  ses fautes, erreurs ou omissions, ainsi que des fautes, erreurs ou omissions
  de ses sous-traitants éventuels et causant un dommage direct à l'autre
  Partie.
%p
  En outre, et en cas de faute prouvée par le Client, le prestataire ne sera
  tenue que de la réparation des conséquences pécuniaires des dommages directs
  et prévisibles du fait de l'exécution des Services. En conséquence, le
  prestataire ne pourra en aucune circonstance encourir de responsabilité au
  titre des pertes ou dommages indirects ou imprévisibles du Client ou des
  tiers, ce qui inclut notamment tout gain manqué, perte, inexactitude ou
  corruption de fichiers ou de Données, préjudice commercial, perte de chiffre
  d'affaires ou de bénéfice, perte de clientèle, perte d'une chance, coût de
  l'obtention d'un produit, d'un service ou de technologie de substitution, en
  relation ou provenant de l'inexécution ou de l'exécution fautive des
  prestations.
%p
  Dans tous les cas, le montant de la responsabilité du prestataire est
  strictement limité au remboursement du montant des sommes effectivement
  payées par le Client à la date de survenance du fait générateur de
  responsabilité, par poste utilisateur, par jour d'interruption sur la moyenne
  de consommation des 3 derniers mois.
%p
  Le prestataire ne saurait, en outre, être tenu responsable de la destruction
  accidentelle des Données par le Client ou un tiers ayant accédé aux Services
  applicatifs au moyen des Identifiants remis au Client.
%p
  Le prestataire ne pourra en aucun cas être tenu pour responsable de tout
  dommage en cas de préjudice causé par une interruption ou une baisse de
  service de l'opérateur de télécommunications, du fournisseur d'électricité ou
  en cas de force majeure.
%p
  Aucune des Parties ne pourra être tenue pour responsable d'un manquement
  quelconque à ses obligations dans le cadre du contrat, si un tel manquement
  résulte : d'une décision gouvernementale, en ce compris tout retrait ou
  suspension d'autorisations quelles qu'elles soient, d'une grève totale ou
  partielle, interne ou externe à l'entreprise, d'un incendie, d'une
  catastrophe naturelle, d'un état de guerre d'une interruption totale ou
  partielle ou d'un blocage des réseaux de télécommunications ou électrique,
  d'acte de piratage informatique ou plus généralement tout autre évènement de
  force majeure présentant les caractéristiques définies par la jurisprudence.
%p
  La Partie constatant l'évènement devra sans délai informer l'autre partie de
  son impossibilité à exécuter sa prestation.
%p
  La suspension des obligations ou le retard ne pourra en aucun cas être une
  cause de responsabilité pour non-exécution de l'obligation en cause, ni
  induire le versement de dommages et intérêts ou pénalités de retard.


%h2 Article 17. Assurances

%p
  Le prestataire a souscrit les assurances nécessaires afin de couvrir les
  risques liés à l'exercice de son activité. Il s'engage à donner tout
  justificatif au Client, si celui-ci lui en fait la demande expresse.


%h2 Article 18. Résiliation

%p
  En cas de manquement par l'une des Parties à ses obligations contractuelles,
  le contrat pourra être résilié de plein droit par l'autre Partie 60 jours
  après l'envoi d'une lettre de mise en demeure adressée en recommandé avec
  avis de réception restée sans effet. La mise en demeure indiquera la ou les
  défaillances constatées.
%p
  Dans l'hypothèse d'une résiliation, le Client cessera d'utiliser tous codes
  d'accès aux Solutions et aux Services applicatifs.
%p
  Les prestations de réversibilité seront mises en œuvre conformément à
  l'article 19.


%h2 Article 19. Réversibilité

%p
  En cas de cessation de la relation contractuelle, quelle qu'en soit la cause,
  le prestataire s'engage à restituer au tarif en vigueur au moment de la
  notification de réversibilité, à la première demande de celui-ci formulée par
  lettre recommandée avec accusé de réception et dans un délai de 60 jours à la
  date de réception de cette demande, l'ensemble des Données lui appartenant
  sous un format standard lisible sans difficulté dans un environnement
  équivalent.
%p
  Le Client collaborera activement avec le prestataire afin de faciliter la
  récupération des Données.
%p
  Le prestataire fera en sorte que le Client puisse poursuivre l'exploitation
  des Données, sans rupture, directement ou avec l'assistance d'un autre
  prestataire.
%p
  À la demande du Client, le prestataire pourra effectuer des prestations
  d'assistance technique complémentaires au Client et/ou au tiers désigné par
  lui, dans le cadre de la réversibilité.
%p
  Ces prestations d'assistance seront facturées au tarif du prestataire en
  vigueur au moment de la notification de la réversibilité.


%h2 Article 20. Non-sollicitation de personnel

%p
  Chacune des Parties renonce à engager ou à faire travailler, directement ou
  par personne interposée, tout salarié de l'autre partie, sans accord exprès
  et préalable de cette dernière. Cette renonciation est valable pendant toute
  la durée du contrat et pendant les 24 mois qui suivront sa cessation.
%p
  Dans le cas où l'une des Parties ne respecterait pas cette obligation, elle
  s'engage à dédommager l'autre Partie en lui versant immédiatement et sur
  simple demande, une somme forfaitaire égale à 12 fois la rémunération brute
  mensuelle du salarié au moment de son départ.


%h2 Article 21. Confidentialité

%p
  Chacune des Parties s'oblige à (i) tenir confidentielles toutes les
  informations qu'elle recevra de l'autre Partie, et notamment à (ii) ne pas
  divulguer les informations confidentielles de l'autre Partie à un tiers
  quelconque, autre que des employés ou agents ayant besoin de les connaître ;
  et (iii) n'utiliser les informations confidentielles de l'autre Partie qu'à
  l'effet d'exercer ses droits et de remplir ses obligations aux termes du
  contrat.
%p
  Nonobstant ce qui précède, aucune des Parties n'aura d'obligation quelconque
  à l'égard d'informations qui (i) seraient tombées ou tomberaient dans le
  domaine public indépendamment d'une faute par la Partie les recevant, (ii)
  seraient développées à titre indépendant par la Partie les recevant, (iii)
  seraient connues de la Partie les recevant avant que l'autre Partie ne les
  lui divulgue, (iv) seraient légitimement reçues d'un tiers non soumis à une
  obligation de confidentialité, ou (v) devraient être divulguées en vertu de
  la loi ou sur ordre d'un tribunal (auquel cas elles ne devront être
  divulguées que dans la mesure requise et après en avoir prévenu par écrit la
  Partie les ayant fournies).
%p
  Les obligations des Parties à l'égard des informations confidentielles
  demeureront en vigueur pendant toute la durée du contrat et aussi longtemps,
  après son terme, que les informations concernées demeureront confidentielles
  pour la Partie les divulguant et, en toute hypothèse, pendant une période de
  3 ans après le terme du contrat.
%p
  Chacune des Parties devra restituer toutes les copies des documents et
  supports contenant des informations confidentielles de l'autre Partie, dès la
  fin du contrat, quelle qu'en soit la cause.
%p
  Les Parties s'engagent par ailleurs à faire respecter ces dispositions par
  leur personnel, et par tout préposé ou tiers qui pourrait intervenir à
  quelque titre que ce soit dans le cadre du contrat.


%h2 Article 22. Divers

%h3 22.1 Divisibilité des clauses :

%p
  La nullité, la caducité, l'absence de force obligatoire ou l'inopposabilité
  de l'une ou quelconque des stipulations du contrat n'emporte pas nullité, la
  caducité, l'absence de force obligatoire ou l'inopposabilité des autres
  stipulations, qui conserveront tous leurs effets. Cependant, les Parties
  pourront, d'un commun accord, convenir de remplacer la ou les stipulations
  invalidées.

%h3 22.2 Droit applicable :

%p
  Le contrat est soumis au droit français, à l'exclusion de toute autre
  législation.
%p
  En cas de rédaction du contrat en plusieurs langues ou de traduction, seule
  la version française fera foi.

%h3 22.3 Élection de domicile :

%p
  Pour l'exécution des présentes ainsi que de leurs suites, les Parties font
  respectivement élection de domicile en leurs sièges sociaux indiqués en tête
  des présentes. Toute modification du siège social ou de l'adresse de l'une
  des Parties ne sera opposable à l'autre Partie que huit jours calendaires
  après lui avoir été dûment notifiée.

%h3 22.4 Différends – Clause attributive de compétence territoriale :

%p
  En vue de trouver ensemble une solution à tout litige qui surviendrait dans
  l'exécution du contrat, les Parties conviennent de se réunir dans les 60
  jours à compter de la réception d'une lettre recommandée avec demande d'avis
  de réception notifiée par l'une des deux Parties.
%p
  Si au terme d'un nouveau délai de quinze jours, les parties n'arrivaient pas
  a se mettre d'accord sur un compromis ou une solution, le litige serait alors
  soumis aux tribunaux compétents.
