@import 'background'


$black:         lighten(black, 10%)
$white:         darken(white, 5%)

$blue:          #0078b3
$blue_light:    #5ca8de
$blue_lighter:  lighten($blue_light, 30%)

$gray:          #6b6e70
$gray_light:    lighten($gray, 20%)
$gray_lighter:  lighten($gray, 57%)
$gray_dark:     #3f3f42


// elements
///////////

html
  font-size: 80%
  font-family: sans-serif
  background-image: $background_image
  color: $black

body
  margin: 0

h1, h2, h3, a
  background-color: inherit
  color: $blue

a
  text-decoration: none
  transition: background-color .2s
  &:hover
    text-decoration: underline

fieldset
  border: solid 1px $gray
  background: $gray_lighter
  color: inherit


// structure
////////////

#header,
body > main,
#footer
  margin: 0 auto
  max-width: 72rem

.header_wrapper
  box-shadow: 0 -4px 16px $gray_light

#header
  text-align: right
  overflow: auto

  #logo
    display: block
    float: left

  nav
    margin-top: 1.8rem

    ul li
      display: inline-block

    a
      padding: .8rem 1.6rem
      border-radius: .2rem

      font-size: 1.2rem
      font-variant: small-caps

      background-color: $gray_dark
      color: $white

      &:hover
        background-color: $blue

.footer_wrapper
  margin-top: 3rem
  border-top: solid 1px $gray_light

  &, a
    background-color: $gray_dark
    color: $gray_light

  a:hover
    background-color: inherit
    color: $blue

#footer
  padding: 1rem .5rem

  ul
    list-style-type: none


// modules
//////////

.actions
  padding-left: 0

  li
    display: inline-block

    &::before
      content: " | "
      background-color: inherit
      color: $gray_light

    &:first-child
      &::before
        content: ""


.sources
  width: 100%

  th
    border-bottom: solid 1px $gray_light

  tr:hover
    td
      background-color: $blue_lighter
      color: inherit

  .label
    width: 50%

  .created_at,
  .actions
    text-align: right

  .actions
    margin: 0
