.dashboard_directions
  padding-left: 0
  border-spacing: 2rem 0
  list-style-type: none
  counter-reset: dashboard_directions

  li
    +boxify
    display: table-cell
    padding: 1rem 3rem
    border: solid 2px $blue
    text-align: center
    vertical-align: middle
    background: $white

  li::before
    display: block
    content: counter(dashboard_directions)
    counter-increment: dashboard_directions
    margin-bottom: 1rem
    font-size: 4rem
    font-weight: bold
    background-color: inherit
    color: $blue
    text-shadow: 1px 1px 1px $blue_darker

  a
    font-size: 1.2rem


.home.index .main_wrapper
  background: url(image_path('noise.png')) repeat scroll left top, url(image_path('home_bg.jpeg')) no-repeat scroll left top / contain transparent
  //background: url(image_path('home_bg.jpeg')) no-repeat scroll left top / contain transparent

.home.index #main
  text-align: center

  h2
    margin-top: 3rem
    margin-bottom: 2.5rem
    font-size: 1.8rem

  button
    font-size: 1.5rem
    +buttonify_focus

  .home_intro
    min-height: 720px
    padding-top: 12rem

    .new_user
      margin: 8rem 0

  .home_intro_head
    margin: 0 auto
    padding: 1rem 2rem
    width: 80%
    +borderify(.4rem)
    background-color: $gray_darker
    opacity: .9
    text-shadow: -1px -1px 0 $black, 2px 2px 1px $blue_darker
    h1
      font-size: 3rem
    p
      font-size: 1.5rem
      background-color: inherit
      color: $white

  .new_user
    input, button
      width: 35%
      font-size: 1.8rem
    input
      padding: .8rem .5rem
    button
      margin-left: 1rem

  .col_enum
    padding-left: 0
    overflow: auto

    > li
      display: block
      float: left
      width: 29%
      margin-left: 2%
      margin-right: 2%

    &.short
      text-align: left
      h3, p
        margin: .4rem 0
      & > li
        width: 27%
        padding-left: 6%
        margin-left: 0%
        margin-right: 0%
        &.operations-sources
          background: url(image_path('icons/icomoon/user.svg')) no-repeat 0 .5rem / 2.8rem
        &.operations-results
          background: url(image_path('icons/icomoon/gears.svg')) no-repeat 0 .5rem / 2.8rem
        &.operations-reports
          background: url(image_path('icons/icomoon/report.svg')) no-repeat 0 .5rem / 2.8rem

    &.full
      ul
        margin-top: 1.5rem
        padding: 1.5rem 0 0 0
        border-top: solid 1px $gray
        list-style: none
        background-color: inherit
        color: $gray

  .offers-list
    width: 80%
    margin: 0 auto

    th, td
      padding: .3rem 1rem

    thead th.gold,
    thead th.silver,
    thead th.bronze,
    .price td
      background-color: $blue
      color: white
      font-size: 1.5rem

    thead th.silver
      border-top: solid 2px $blue_dark
      font-size: 2rem
    th.silver, td.silver
      border-left: solid 2px $blue_dark
      border-right: solid 2px $blue_dark
    tbody tr:last-child td.silver
      border-bottom: solid 2px $blue_dark
    .silver
      background-color: $blue_lighter


.sources-list
  width: 100%

.sources-preview
  max-width: $main_width - 6rem
  overflow-x: auto


.works-list
  width: 100%


.work-results-distribution
  &.opticible
    .chart-axis.chart-x
      .tick
        display: none


.works #new_work
  overflow: auto

  .operation-help
    float: right
    width: 50%
    padding-left: 2rem

  #work_source_id,
  #work_target_source_id
    max-width: 35%
