.home.index .main_wrapper
  //background: url(image_path('noise.png')) repeat scroll left top, url(image_path('home_bg.jpeg')) no-repeat scroll left top / contain transparent
  background: url(image_path('home_bg.jpeg')) no-repeat scroll left top / contain transparent

.home.index #main
  text-align: center

  input, button
    font-size: 1.5rem

  button
    +buttonify_focus

  .home_intro
    min-height: 870px

    h1, .new_user
      margin: 6rem 0

    h1
      display: inline-block
      padding: 2rem 8rem
      +borderify(.4rem)
      font-size: 3rem
      background-color: $gray_darker
      opacity: .9
      text-shadow: -1px -1px 0 $black, 2px 2px 1px $blue_darker

    .new_user
      input, button
        width: 30%
      input
        padding: .8rem .5rem

  .col_enum
    padding-left: 0
    overflow: auto

    > li
      display: block
      float: left
      width: 32%

  .offers-list
    width: 80%
    margin: 0 auto


.sources-list
  width: 100%

.sources-preview
  overflow-x: auto


.works-list
  width: 100%


.work-results-distribution
  &.opticible
    .chart-axis.chart-x
      .tick
        display: none
